# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class


/target
.idea/
/input/*
!/input/USE_THIS_PATH_FOR_OUR_INPUT_FILES.txt
/output/*
!/output/USE_THIS_PATH_FOR_OUTPUT.txt
/clusterResults/*USE_THIS_PATH_DOWNLOADING_FROM_CLUSTER.txt
!/clusterResults/USE_THIS_PATH_DOWNLOADING_FROM_CLUSTER.txt